

$purple: #9e4a81;
$disapledBtn: #919294;
$modalBg: #F7F8FC;
$footerBgColor:#43333E;
$mainBg: #fff;
$black: #303E3D;
$cartsBg: #F7F8FC;
$disable: #919294;
$footerCopyText: #919294;

// admin

$columnBg:#F7F8FC;
$modalBodyBg: #F7F8FC;